<p style="color: green"><%= notice %></p>

<h1>Rooms</h1>
<div id="mypseudos">
  <%@pseudos.each do |p|%>
    <article data-pseudo-id="<%=p.pseudoid%>">
      <img src="/uploads/<%=p.image%>" width=50 height=50 />
      <p><%=p.username%></p>
      <p><%=p.pseudobody%></p>
    </article>
  <%end%>
</div>


<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
    <p>
      <%= link_to "Show this room", room %>
    </p>
  <% end %>
</div>

<%= link_to "New room", new_room_path %>
